.container {
  position: relative;
}

.animated-element {
  position: fixed; /* Keeps the element fixed during scrolling */
  width: 100%;
  transition: transform 0.5s ease;
}

.image-element {
  position: absolute;
  right: -250px;
  max-width: 150%;
  transition: transform, opacity;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

.scroll-up {
  transform: translateY(-130%);
}
